.main-file-transmission-section {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 1%;
}

.main-file-link-handle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 500px;
    width: 80%;
}

.main-file-link-handle > h2 {
    text-align: center;
    font-weight: 300;
}

.main-file-link-handle > input[type="text"] {
    width: 90%;
    font-size: 2rem;
}


.main-file-send-cancel > button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#userCount {
  margin-top: -3%;
}

.main-file-send-cancel {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

h1#elapsedTime {
  font-size: 1.5rem;
  font-weight: 300;
}

.main-file-send-cancel > button:nth-child(1) {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

.main-file-send-cancel > button:nth-child(1):hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.main-file-send-cancel > button:nth-child(1):disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.main-file-send-cancel > button:nth-child(1):not(:disabled) {
  background-color: #6200ee;
}

.main-file-send-cancel > button:nth-child(1):focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.main-file-send-cancel > button:nth-child(1):active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #A46BF5;
}

.main-file-send-cancel > button:nth-child(2) {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: .0892857em;
  line-height: normal;
  min-width: 64px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform,opacity;
}

.main-file-send-cancel > button:nth-child(2):hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.main-file-send-cancel > button:nth-child(2):disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
}

.main-file-send-cancel > button:nth-child(2):not(:disabled) {
  background-color: #ee0034;
}

.main-file-send-cancel > button:nth-child(2):focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.main-file-send-cancel > button:nth-child(2):active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #f56b90;
}

@media only screen and (max-width: 600px) {
    .main-file-link-handle > input[type="text"] {
        font-size: 1rem;
    }
}


.main-container-mobile-1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}


@media only screen and (max-width: 1000px) {
  .main-file-link-handle {
    width: 90%;
  }
  #userCount {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid red;
    padding: 2%;
    border-radius: 4px;
    align-self: center;
    text-align: center;
    width: 90%;
    margin-top: 0%;
  }
  .main-file-send-cancel {
    justify-content: center;
    width: 100%;
    transform: scale(0.8);
  }
  .main-file-send-cancel > button {
    margin-right: 4%;
  }
  .mobile-sending-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .mobile-sending-button-1 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-self: center;
    /* margin-top: 10%; */
  }
  /* CSS */
  .mobile-sending-button-1 > button {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .mobile-sending-button-1 > button:hover,
  .mobile-sending-button-1 > button:focus {
    background-color: #07c;
  }

  .mobile-sending-button-1 > button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }

  .mobile-sending-button-1 > button:active {
    background-color: #0064bd;
    box-shadow: none;
  }
  .mobile-sending-button-1 > button:disabled {
    background-color: #87c4fd;
    pointer-events: none;
  }
}

@media only screen and (max-width: 800px) {
  /* .mobile-sending-button-1 {
    margin-top: 0%;
    margin-bottom: 10%;
  } */
  #userCount {
    margin-top: -3%;
  }
}
