#downloadLink {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 15%;
}

#downloadLink:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#downloadLink:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#downloadLink:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.circular-progress-bar-wrapper {
  width: 50%;
}

#userCount {
  /* margin-top: -5%; */
}

@media only screen and (max-width: 600px) {
  .main-parent {
    position: absolute;
    width: 500px;
    transform: translate(-50%, -38%);
    top: 65%;
  }
  .main-container-1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  .main-file-send-cancel {
    width: 70%;
  }
  .main-file-send-cancel > button {
    transform: scale(0.8);
  }
  #userCount {
    margin-top: -3%;
    font-size: 1rem;
    font-weight: 400;
    border: 2px solid red;
    padding: 2%;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 300px) {
  .main-parent {
    position: absolute;
    width: 450px;
  }
}
