.main-file-info-bx {
    display: flex;
    flex-direction: column;
    border: 2px dashed black;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 1%;
    padding: 2%;
    transform: scale(0.8);
}

.main-file-info-bx > img {
    width: 40%;
    margin: 4%;
}

.main-file-info-bx > table {
    margin-top: 5%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.main-file-info-bx > table > tbody > tr {
    font-size: 1.5rem;
}

.main-file-info-bx > table > tbody > tr > td:nth-child(1) {
    font-weight: 400;
    white-space: nowrap;
    width: 25%;
}

.main-file-info-bx > table > tbody > tr > td:nth-child(2) {
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .main-file-info-bx > table > tbody > tr {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 800px) {
    .main-file-info-bx > table > tbody > tr {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .main-file-info-bx {
        width: 50%;
        align-self: center;
    }
    .main-file-info-bx > table > tbody > tr > td:nth-child(1) {
        white-space: inherit;
    }
}

@media only screen and (max-width: 500px) {
    .main-file-info-bx {
        width: 95%;
    }
}
